mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.game-field {
  width: 48px;
  height: 48px;
  background-color: #f0f0f0;
  line-height: 48px;
  font-size: 32px;
  font-weight: bold;
}

.playing .game-field {
  cursor: pointer;
}

button, mat-slide-toggle {
  margin-bottom: 2rem;
}
